@charset "UTF-8";

body {
	margin: 0px;
	padding: 0px;
}

.container {
	width: 100%;
	height: 100vh;
}

.menu {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 50px;
	height: 100vh;
	background-color: blue;
	float: left;
	overflow: hidden;
}

.menu:hover {
	width: 200px;
	transition: 0.3s;
	/* 호버하기까지의 지연시간 */
}

.menu-item {
	width: 190px;
	height: 50px;
	margin: 5px;
	color: white;
	box-sizing: border-box;
	line-height: 50px;
	padding-left: 5px;
	overflow: hidden;
}

.menu-item i {
	vertical-align: middle;
	margin-top: -5px;
	/* 	그림의 중앙선 맞추기 */
	margin-right: 10px;
}

.menu-item:hover {
	width: 190px;
	height: 50px;
	margin-left: 5px;
	background-color: #c0c0c0;
	box-sizing: border-box;
	line-height: 50px;
	border-radius: 10px;
	color: black;
}

.main {
	margin-left: 50px;
	width: calc(100% - 50px);
	height: 100vh;
	float: right;
	/* 	전체넓이에서 200을제외한것 가져가
 */
}

.article {
	width: 100%;
	height: 100vh;
	margin: 10px;
	box-sizing: border-box;
	height: auto;
	margin: 10px;
	/* 	보더박스=늘어나는만큼 줄일꺼예요 */
}

h1 {
	margin-top: 0;
}

.box {
	width: 100px;
	height: 100px;
	/* padding: 10px; */
	text-align: center;
	line-height: 100px;
	border-radius: 50px;
	overflow: hidden;
	transition: 0.5s;
	border: 0px;
	background-color: yellow;
	margin: 150px;
	float: left;
}

.box:hover {
	font-size: large;
	font-weight: bolder;
	margin: 0px;
	height: 200px;
	width: 200px;
	line-height: 100px;
	transition: 0.4s;
	border-radius: 20px;
}

#comment {
	width: 100%;
	height: 100px;
	padding: 5px;
	line-height: 30px;
	overflow: visible;
	animation: fadeInUp 1s;
	/* 	이게뭐야? */
}